#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tdplay: tap_dance_music {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp C_PP>, <&kp C_NEXT>, <&kp C_PREV>;
        };
    };
    combos {
        compatible = "zmk,combos";

        combo_apps {
            bindings = <&sl 2>;
            key-positions = <0 1>;
        };
        combo_bluetooth {
            bindings = <&sl 3>;
            key-positions = <8 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp LG(LBKT)   &kp LG(LS(S))      &trans    &trans
                &kp C_VOL_DN  &kp C_VOL_UP            &trans &trans
                &tdplay                         &trans
            >;
        };

        figma {
            bindings = <
                &kp LG(LBKT)   &kp LG(LS(S))       &kp LA(N8)  &kp LA(N9)
                &kp C_VOL_DN  &kp C_VOL_UP   &trans  &trans
                &tdplay                   &kp LS(SPACE)
            >;
        };

        app_layer {
            bindings = <
                &trans &trans &to 0 &to 1
                &trans &trans &to 4 &to 5
                &trans &trans
            >;
        };

        bt_layer {
            bindings = <
                &to 0         &to 0       &studio_unlock  &bootloader
                &bt BT_SEL 0  &bt BT_SEL 1  &trans  &trans
                &bt BT_SEL 2                &bt BT_CLR
            >;
        };

        darktable {
            bindings = <
                &kp LG(LBKT)   &kp LG(LS(S))      &trans    &trans
                &kp C_VOL_DN  &kp C_VOL_UP            &trans &trans
                &tdplay                         &trans
            >;
        };

        extra1 {
            bindings = <
                &kp LG(LBKT)   &kp LG(LS(S))      &trans    &trans
                &kp C_VOL_DN  &kp C_VOL_UP            &trans &trans
                &tdplay                         &trans
            >;
        };

    };
};
